//article1 titulo;

@mixin tituloCentro($centro,$size,$wid){
  
  
    text-align: $centro;
    font-size: $size;
    width: $wid;

}
.titulo1{
    @include tituloCentro( justify ,5rem ,100%);
  
    color: rgb(255, 255, 255);
    height: 100%;
    align-items: center;
    justify-content: center;
    align-content: center;




}
.titulo2{
    @include tituloCentro( justify ,5rem ,100%);
  
    color: rgb(255, 255, 255);
    height: 100%;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 5%;



}

